.modal-select {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 123;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-main {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50px;
  margin: auto;
  border-radius: 5px;
  background: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 233;
  outline: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  -webkit-box-shadow: outset 0 0 1px 0 #000;
          box-shadow: outset 0 0 1px 0 #000;
}

.modal-main .modal-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-main .modal-content {
  max-height: 150px;
  overflow: auto;
  width: 100%;
  padding: 0 10px;
  background-color: antiquewhite;
}

.modal-main .modal-content .modal-content-item{
  padding: 10px 5px;
}

.modal-main .modal-content .modal-content-item.current{
  background-color: red;
}

.modal-main .modal-content .modal-content-item:hover{
  background-color: #ccc;
}

input{
  outline: none;
  border: 1px solid #ccc;
}

button{
  border: none;
  outline: none;
  width: 65px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: rgb(247, 32, 32);
  cursor: pointer;
  margin-left: 10px;
}



/* animation */
/* 开始出现,出现中,出现结束,开始消失,消失中,消失结束 */

.modal-enter {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal-enter-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.modal-enter-end {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.modal-leave {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-leave-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.modal-leave-end {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
