
.fade2-enter, .fade2-appear{
  opacity: 0;
}
.fade2-enter-active, .fade2-appear-active{
  opacity: 1;
  transition: opacity 2s ease;
}
.fade2-enter-done{
  opacity: 1;
}

.fade2-exit{
  opacity: 1;
}
.fade2-exit-active{
  opacity: 0;
  transition: opacity 1s ease;
}
.fade2-exit-done{
  opacity: 0;
}
