/* .show{
  opacity: 1;
  transition: all 1s ease-in;
}
.hide{
  opacity: 0;
  transition: all 1s ease-in;
} */

.show{
  opacity: 1;
}

.hide{
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: .5;
    color: green;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}
